google_lead_generation/google-maps-lead-generation.json.json
{
  "name": "google-maps-lead-generation.json",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead_generator",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "06937c83-6792-4d81-a29a-265273efa3e4",
      "name": "Webhook",
      "webhookId": "822aa173-b964-46dc-b504-160d902d798b"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1184,
        0
      ],
      "id": "088108fa-5cde-4f64-8c58-f55353699610",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json?engine=google_maps&q=software++developers&ll=@28.6076947,77.3744635,16z ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "d16c707c8ab830e9573d870fe94a6ee90b29fae50da941b49326aaa65e5b3f18"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        0
      ],
      "id": "caaf2013-59db-4492-9789-01faa2a28a12",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "businesses",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "9492cfe9-6029-486d-a98a-f71fa2adbdbe",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      businesses: items[0].json.local_results\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        0
      ],
      "id": "04b4c3a0-a802-44ae-9f2f-58591f52dbbb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "={{$json.reviews_link}}&api_key=d16c707c8ab830e9573d870fe94a6ee90b29fae50da941b49326aaa65e5b3f18\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        0
      ],
      "id": "b77682f9-acbd-4a9d-a159-496a61c246bc",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: {\n    company: item.json.place_info?.title || '',\nphone: item.json.phone ? String(item.json.phone).trim() : '',\n\n    address: item.json.place_info?.address || '',\n    company_rating: item.json.place_info?.rating || null,\n\n    reviewer: item.json.user?.name || '',\n    review_rating: item.json.rating || null,\n    comment:\n      item.json.extracted_snippet?.original ||\n      item.json.snippet ||\n      ''\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        0
      ],
      "id": "a391d9b5-0bfe-4552-b6f5-f1b8a1ba949f",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "data_id",
              "field2": "search_parameters.data_id"
            }
          ]
        },
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        752,
        -176
      ],
      "id": "a0d180cf-06ce-490a-8c15-484daf57e9d5",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nDNA9r24gE22-dv-qe6ealem_J2fq1vsW9oqlWwCtLk",
          "mode": "list",
          "cachedResultName": "Google Maps Leads + Reviews",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nDNA9r24gE22-dv-qe6ealem_J2fq1vsW9oqlWwCtLk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nDNA9r24gE22-dv-qe6ealem_J2fq1vsW9oqlWwCtLk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company": "={{$json.company}}",
            "phone": "={{$json.phone}}",
            "company_rating": "={{$json.company_rating}}",
            "reviewer": "={{$json.reviewer}}",
            "address": "={{$json.address}}",
            "review_rating": "={{$json.review_rating}}",
            "comment": "={{$json.comment}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_rating",
              "displayName": "company_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reviewer",
              "displayName": "reviewer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review_rating",
              "displayName": "review_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        0
      ],
      "id": "4679bb86-c7ee-4f37-82e6-eedea63509e7",
      "name": "Append row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZhjKK928vwldH6yT",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "ed39759c-dd68-4152-8df3-4a28297b0d29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69fd34eea9b670e240ded2e8b99830307f0dc975019ed8f8c22bb4484d60e32b"
  },
  "id": "IQivfBuc0e_eRkl467uNH",
  "tags": []
}